@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: poppins;
    overflow-x: hidden;
}

@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,700");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

@media screen and (max-width: 500px){
    body{
        overflow-x: hidden;
    }
}

/*

NavBar

*/

@media  screen and (max-width: 500px){
    li .dropdown{
        border: 0px;
        background-color: #FFFFFF;
        margin-top: 0px;
        margin-left: -7px;
      }

      li .dropdown .dropdown-content{
        position: relative;
        z-index: 2;
      }

      li .dropdown button{
        margin-top: 5px;
      }

}

button img{
    transform: scale(0.3);
    margin-left: -10px;
}


.dropdown {
    display: inline-block;
    position: relative;
    border-radius: 0px;
  }

  .dropdown-content a{
   margin-bottom: 10px;

  }

  #navbarSupportedContent ul{
    margin-top: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: 90%;
    overflow: auto;
    z-index: 2;
  }

  .dropdown button{
    border: 0px;
    background-color: #ffffff00;
    margin-top: -8px;
    color: #0000008c;
    transition: background-color 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .dropdown button:hover{
    border: 0px;
    background-color: #FFFFFF;
    margin-top: -8px;
    color: #000000;

  }

  .dropdown:hover .dropdown-content {
    display: block;
    background-color: #ffffff;
    width: 400%;
    padding: 20px;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
    transition: color 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), background-color 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
    
  }

.nav-item{
    margin-right: 120px;
}

#nav{
    width: 100%;
}



.logo{
    transform: scale(0.5 );
}

/*

Hero-section

*/

@media screen and (max-width: 500px){
    section #service-container h1{
            font-size: 2.5em;
            font-weight: 700;
        }

    section #service-container{
        padding-left: 60px;
        padding-right: 60px;
        text-align: center;
        color: white;
        margin: 0 auto;
    }
    
}

.container h1{
    font-size: 4.5em;
    font-weight: 700;
    margin: 0 auto;
}

.hero-section{
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
    width: 100vw;
    background: linear-gradient(176.73deg, rgba(61, 163, 245, 0.7) 24.37%, rgba(50, 76, 138, 0)), url(./img/sigmund-SQkDTnerAGk-unsplash.jpg);
}

#service-container{
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    color: white;
    margin: 0 auto;
}

/* 

Service Listing section

*/

@media screen and (max-width: 500px) {
    section #service-listing .text-container{
        width: 95%;
        padding: 15px;
        box-shadow:5px 5px 4px rgba(0, 0, 0, 0.25);
        text-align: left;
        margin: 0 auto;
        margin-top: 25px;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    a .arrow-services-icon{
        opacity: 0;
        position: absolute;
    }

}

#service-container h1{
    margin-bottom: 20px;
    text-align: center;
}

#service-listing{
    text-align: center;
    margin-top: 40px;
    margin: 0 auto;
}

.text-container{
    width: 55%;
    padding: 15px;
    box-shadow:5px 5px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
    margin: 0 auto;
    margin-top: 25px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.text-container:hover{
    width: 55%;
    padding: 15px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow:6px 9px 6px rgba(0, 0, 0, 0.25);
    text-align: left;
    margin: 0 auto;
    margin-top: 25px;
    background-color: #e9eaeb;
}

.text-box{
    text-decoration-line: none;

}

.text-box li{
    margin-left: 50px;
    font-size: 18px;
    font-weight: 600;
}

#service-listing h1{
    font-size: 36px;
    font-weight: 600;
    margin: 50px;
}

.arrow-services-icon{
  position: relative;
  padding-right: -40px;  
}

/*

contact 

*/
@media screen and (max-width: 500px){
    div #contact-form{
        width: 50%;
        margin: 0 auto;
        margin-top: 20px;
    }
}

#contact-section{
    width: 100%;
}

.get-in-touch-h1{
    font-weight: 500;
    padding: 2px;
    padding-top: 50px;
}

#contact-form{
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
}


.form-control{
    border-radius: 0px;
    border-top: 20px;
    border-right: 2px;
    border-left: 0px;
}

.contact-submit-button:hover{
    background-color: #0d6efd;
}

.submit-button {
    margin-top: 20px;
    border-radius: 0px;
    background-color: #0d6efd;
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

/*

footer

*/
@media screen and (max-width: 500px) {
    div .contact-info{
    
        width: 200px;
       
       
        margin-left: 80px;
    }

    footer .container .row{
        width: 100vw;
    }

    div .row .col .footer-container{
        margin-left: 70px;
        padding-top: 70px;
        width: 200px;
    }
}

.footer-section{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: black;
    color: white;
    margin-top: 50px;
    width: 100%;
    
}

.footer-container{
    margin-left: 120px;
    padding-top: 70px;
    width: 200px;

}

.contact-info{
    
    width: 200px;
    margin-top: 80px;
    margin-left: 220px;
}



/*

########   About Us Page   ########


Hero-Section

*/

@media screen and (max-width: 500px){
   body .text-section .container{
    margin-top: 100px;
   }

   body .hero-section-about{
    color: white;
    background: linear-gradient(-180deg, rgba(50, 24, 207, 0.7) 36.74%, rgba(217, 217, 217, 0.5)), rgba(50, 24, 207, 0.7) -0.68%,url(./img/pikwizard-graphic-designers-discussing-over-laptop.jpeg);
    background-size: cover;
    height: 37vh;
    max-width: 100vw;
    color: #000;
    margin-bottom: 100px;
    } 
    
    section #aboutus-container h1{
        font-size: 24px;
        padding-top: 45px;
    }
}


#aboutus-container{
    text-align: center;
    position: relative;
    top: 70%;
}

.hero-section-about{
    color: white;
    height: 110vh;
    max-width: 100%;
    position: relative;
    background: linear-gradient(154.72deg, rgba(50, 24, 207, 0.3) -0.68%, rgba(50, 24, 207, 0.3) 36.74%, rgba(217, 217, 217, 0)), url(./img/pikwizard-graphic-designers-discussing-over-laptop.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*

Text-section

*/

@media screen and (max-width: 500px){
    section #p-container{
        padding: 10%;
        padding-bottom: 1%;
        width: 85%;
        text-align: start;
    }
}


#p-container{
    padding: 10%;
    padding-bottom: 1%;
    width: 66%;
    text-align: justify;
}

#p-container h1{
    font-size: 24px;
    margin-bottom: 60px;
    margin-top: -90px;

}

#service-list{
    margin-top: 50px;
}

#service-list h2{
    font-size: 24px;
}

#service-list ul a{
    text-decoration: none;
    padding: 20px;
}

/*

######   Home  ######


Home hero-section

*/

@media screen and (max-width: 500px){
    body .hero-section-home .container{
        width: 90%;
       margin-bottom: 50px;
       padding-top: 51%;
       
    }

   body  .hero-section-home .container h1{    
        font-weight: 700;
        font-family: poppins;
        font-size: 1em;
    }

    .scff-brief-img{
        transform: scale(1.5);
        opacity: 0.9;
        margin-left: 0%;
        padding-top: 13%;
    }

    body .hero-section-home{
        background:url(./img/herosec1-transformed\ \(2\).jpeg);
        height: 35vh;
        background-size: cover;
        background-attachment:unset;
        margin-bottom: 100px;
    }

    div .learn-more-btn{
        background-color: rgb(0, 9, 88);
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 0;
        border: 0;
        width: 180px;
        margin-top: 20px;
    }

}

.hero-section-home{
    background:  url(./img/herosec1-transformed\ \(2\).jpeg);
    background-size: cover;
    transition: width 10s cubic-bezier(0.455, 0.03, 0.515, 0.955), height 10s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    height: 119vh;
    width: 100vw;
    animation: home-background-animation 2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes home-background-animation {
    0%{
        opacity: 0%
    }

    100%{
        opacity: 100%;
    }
}



.hero-section-home .container{
    width: 44%;
    color: #000;
    position: relative;
    padding-top: 35%;
    padding-bottom: 10%;
    margin: 0 auto;
    text-align: center;
}

.hero-section-home .container h1{
    font-size: 2.5em;
    font-weight: 700;
    background-color: #ffffffb4;
    padding: 20px;
}

.learn-more-btn{
    background-color: white;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0;
    border: 0;
    margin-top: 60px;
    transition: background-color 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.learn-more-btn:hover{
    background-color: rgb(0, 9, 88);
    color: #FFFFFF;
}


/*

SCFF Brief Section

*/

@media screen and (max-width: 600px){
    div #value-proposition{
        background: #66666686;
        color: white;
        padding: 50px;
        width: 100vw;
        margin-left: -210px;
        text-align: justify;
        
    }

  
    #brief{
        margin-top: 100px;
        padding-top: 50px;
        padding-bottom: 20px;
        padding-right: 20px;
        text-align: justify;
    }

    div .value-prop-img{
        position: relative;
         top: -750px;
         z-index: -1;
         margin-left: -50px;
         max-width: 100vw;
     }

     .left-image{
        margin-top: -100px;
        margin-left: -50px;
        transform: scale(0.6);
    }
    
    .pitch-img{
        width: 100vw;
    }

    #hd{
        background: url(./img/pitch-section-transformed.png);
        position: relative;
        z-index: -1;
        margin-right: 40%;
        max-width: 100vw;
        width: 100vw;
        height: 200px;
        margin-bottom: 20%;
        opacity: 0;
    }

    hr{
        position: relative;
        bottom: -1.2rem;
    }
}


.img-responsive{
    position: relative;
    transform: scale(3);
    margin-top: -300px;
    z-index: -5;
    right: -500px;


}
/*
    bubble animation
*/

#ball{
    animation: float1 35.5s ease-in-out infinite;
    
}

@keyframes float1 {
    0% {
      transform: translatey(-200px);
      rotate: 0deg;
    }

    25%{
        transform: translateX(300px);
    }

    50% {
      transform: translatey(-200px);
      rotate: 180deg;
    }

    75%{
        transform: translateX(-200px);
    }

    100% {
      transform: translatey(-200px);
      rotate: 0deg;
    }
  }


  .ball {
    animation: float 35.5s ease-in-out infinite;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    filter: blur(5px);
    background: radial-gradient(
      circle at 75% 30%,
      white 5px,
      aqua 8%,
      darkblue 90%,
      aqua 100%
    );
    box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #eaf5fc,
      inset 88px 0px 60px #c2d8fe, inset -20px -60px 100px #ebe9fd,
      inset 0 50px 140px #fde9ea, 0 0 90px #fff;
      position: absolute;
      z-index: -1;
  }
  
  @keyframes float {
    0% {
      transform: translatey(200px);
      rotate: 0deg;
      box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #eaf5fc,
      inset 88px 0px 60px #c2d8fe, inset -20px -60px 100px #ebe9fd,
      inset 0 50px 140px #fde9ea, 0 0 90px #fff;
      filter: blur(120deg);
    }

    25%{
        transform: translateX(-300px);
        box-shadow: inset 0 0 25px #fff, inset 15px 0 51px #eaf5fc,
        inset 93px 0px 65px #c2d8fe, inset -25px -65px 105px #ebe9fd,
        inset 0 50px 140px #fde9ea, 0 0 90px #fff;
        filter: blur(140deg);
    }

    50% {
      transform: translatey(400px);
      rotate: 180deg;
      box-shadow: inset 0 0 30px #fff, inset 20px 0 56px #eaf5fc,
      inset 98px 0px 70px #c2d8fe, inset -30px -70px 110px #ebe9fd,
      inset 0 60px 150px #fde9ea, 0 0 100px #fff;
      filter: blur(160deg);
    }

    75%{
        transform: translateX(-300px);
        box-shadow: inset 0 0 25px #fff, inset 15px 0 51px #eaf5fc,
        inset 93px 0px 65px #c2d8fe, inset -25px -65px 105px #ebe9fd,
        inset 0 50px 140px #fde9ea, 0 0 90px #fff;
        filter: blur(140deg);
    }

    100% {
      transform: translatey(200px);
      rotate: 0deg;
      box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #eaf5fc,
      inset 88px 0px 60px #c2d8fe, inset -20px -60px 100px #ebe9fd,
      inset 0 50px 140px #fde9ea, 0 0 90px #fff;
      filter: blur(120deg);
    }
  }
  
  
  
  @media only screen and (max-width: 500px) {
    .ball {
      animation: float 4.5s ease-in-out infinite;
      height: 120px;
      width: 120px;
  
      background: radial-gradient(
        circle at 65% 35%,
        white 5px,
        aqua 15%,
        darkblue 50%,
        aqua 100%
      );
      box-shadow: inset 0 -20px 30px #fff, inset 40px 0 46px #eaf5fc,
        inset 58px 0px 60px #c2d8fe, inset -8px -30px 100px #fde9ea,
        inset 0 20px 110px #fde9ea, 0 0 90px #fff;
    }

    .img-responsive{
        position: absolute;
        transform: scale(0.9);
        margin-top: 30px;
        z-index: -5;
        margin-left: -40px;
    }
   
  
    @keyframes float {
      0% {
        transform: translatey(0px);
      }
      50% {
        transform: translatey(-50px);
      }
      100% {
        transform: translatey(0px);
      }
    }
  }
  

/*
    SCFF Section
*/

@media screen and (min-width: 800px){
    div .scff-brief-p{
        margin-left: -150px;
        max-width: 400px;
    }

    div #hr-ln{
        margin-left: -150px;
    }
}
@media screen and (max-width: 600px) {
    body .scff-brief1{
        width: 100vw;
        padding:10px 10% 250px 10%;
    }

    div .scff-brief-img{
        margin-left: 30px;
      }
      
    
}

.scff-brief1{
    width: 100vw;
    padding: 350px 35% 450px 35%;
}

.scff-brief{
    margin-top: 50px;
    font-size: 16px;
}

.scff-brief .container .row .row1.col{
    padding: 50px;
}

.row1{
    padding: 50px;
    background-color: rgb(0, 9, 88);
    width: 100%;
    
}

.row .col-xs-12{
    position: relative;
    border: 5px solid black;
    width: 200px;
    height: 200px;
    transform: rotate(120deg);
}

#row-w{
    width: vw;
}

.scff-brief .container .row{
 
    padding: 2%;
}

.scff-brief-img{
  margin-left: -150px;
}

.scff-brief .container{
    margin: 50px 0 50px 0;
}

#brief{
    text-align: center;
}


#value-proposition{
    background: #66666686;
    color: white;
    padding: 50px 130px 50px 130px;  
    width: 100%;
    margin-left: 1%;
    text-align: justify;

}

#value-proposition p{
   
}

.value-prop-img{
   position: relative;
    margin-top: -60px;
    z-index: -1;
    margin-left: -140px;
    max-width: 100vw;
}

#hd{
    background: url(./img/pitch-section-transformed.png);
    background-size: cover;
    position: relative;
    z-index: -1;
    max-width: 100vw;
    margin-left: 40px;
    
}

/*

Pitch Section

*/

.simple-cta{
    margin-top: 10%;
    margin-bottom: 10%;
}

.pitch-text{
    padding: 50px;
    margin-top: -90px;
}

.pitch-text h6{
    padding-top: 40px;
    padding-bottom: 20px;
}

.pitch-text h4{
    padding-top: 10px;
    padding-bottom: 10px;
}



/*

Clients Section

*/

@media screen and (max-width: 500px) {


    section #p-container{
        padding: 1%;
    }
    
    body .clients .container{
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
   }

   div #mrm-list .grc h5{
    font-size: 16px;
    text-align: start;
    padding-bottom: 20px;
    color: rgb(19, 74, 255);
   }

   #p-container .agile-service-1{
    font-size: 14px;

}

    div #mrm-list{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .clients .container h1{
        font-size: 16px;
        margin-bottom: 20px;
    }

}

.clients .container{
    text-align: center;
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
}

.clients .container h1{
    font-size: 16px;
    margin-bottom: 20px;
}

div #mrm-list .grc h5{
    padding-bottom: 20px;
    color: rgb(19, 74, 255);
   }

.dropdown a{
    text-decoration: none;
    color: #000000;
}



.grc .dropdown-content {
    display: none;
    position: absolute;
    width: 90%;
    overflow: auto;
  }

 .grc h5{
    border: 0px;
    background-color: #ffffff00;
    margin-top: -8px;
    color: #0000008c;
    display: block;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
  }

  .grc h5:hover{
    border: 0px;
    background-color: #FFFFFF;
    margin-top: -8px;
    color: #000000;

  }

  .grc:hover .dropdown-content {
    display: block;
    background-color: #ffffff;
    width: 90%;
    padding: 20px;
    z-index: 2;
    position: relative;
  }
 
  .dropdown-content ul li:hover {
    color: #FFFFFF;
    background-color: #00a4bdb9;
    padding: 10px;
  }

  .arrow{
    transform: scale(0.3);
  }


.txt h1{
    margin-top: 20px;
}

.column{
    margin-bottom: 20px;
    margin-top: 40px;
    color: #FFFFFF;
    font-family: "Oswald", sans-serif;
}

.ctn{
    background-color: rgb(0, 9, 88);
    border-radius: 5px;
    border: 2px solid rgb(214, 212, 212);
}